<div class="modal-content">
    <form>
        <div class="modal-header">
            <h4 class="modal-title">Delete Employee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
            <p><%= author %>, <b><%= title %></b></p>
            <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <input type="hidden" name="identity" value="<%= identity %>">
        <div class="modal-footer">
            <input type="button" class="btn btn-default btn-js-cancel" value="Cancel">
            <input type="submit" class="btn btn-danger btn-js-send-data" value="Delete">
        </div>
    </form>
</div>
