<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Author</th>
        <th>Summary</th>
        <th>Release Year</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>Silence of the Lambs</td>
        <td>thomashardy@mail.com</td>
        <td>89 Chiaroscuro Rd, Portland, USA</td>
        <td>(171) 555-2222</td>
        <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Dominique Perrier</td>
        <td>dominiqueperrier@mail.com</td>
        <td>Obere Str. 57, Berlin, Germany</td>
        <td>(313) 555-5735</td>
        <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Maria Anders</td>
        <td>mariaanders@mail.com</td>
        <td>25, rue Lauriston, Paris, France</td>
        <td>(503) 555-9931</td>
        <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Fran Wilson</td>
        <td>franwilson@mail.com</td>
        <td>C/ Araquil, 67, Madrid, Spain</td>
        <td>(204) 619-5731</td>
        <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Martin Blank</td>
        <td>martinblank@mail.com</td>
        <td>Via Monte Bianco 34, Turin, Italy</td>
        <td>(480) 631-2097</td>
        <td>
            <a href="#editEmployeeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
    </tr>
    </tbody>
</table>
